@font-face {
    font-family: 'latin_modern_roman_caps10Ob';
    src: url('../assets/fonts/lmromancaps10-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora_regular';
    src: url('../assets/fonts/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'lora_medium';
  src: url('../assets/fonts/Lora-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lora_bold';
  src: url('../assets/fonts/Lora-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'lora_regular', sans-serif;
    margin: 0;
    min-height: 100vh;
    min-width: 400px;
    background: linear-gradient(
      -45deg,
      #fde047 0%,
      #facc15 25%,
      #eab308 50%,
      #facc15 75%,
      #fde047 100%
    );
    background-size: 300% 300%;
    animation: gradient-animation 15s ease-in-out infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }


html {
  scroll-behavior: smooth;  /* Enable smooth scrolling in the browser */
}

/* Base styles for nav-links with hover and active effects */

/* Default state for nav links */
.nav-link.hover-effect {
  color: #f5d300;  /* Default yellow color for text */
  transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
  font-weight: normal;  /* Default font weight */
}

/* Hover effect - color change, scale, and font weight change */
.nav-link.hover-effect:hover {
  color: #ffcc00;  /* Slightly lighter yellow */
  transform: scale(1.05);  /* Slight zoom effect */
  font-weight: bold;  /* Bold text on hover */
}

/* Active effect - scale, shadow, and downward movement when clicked */
.nav-link.hover-effect:active {
  color: #ffcc00;  /* Slightly lighter yellow */
  transform: scale(1.05) translateY(2px);  /* Slight down movement when clicked */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  /* Subtle shadow when clicked */
}

/* Navbar background and behavior */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Optional - Adjust navbar padding for spacing */
.navbar-dark {
  padding: 10px 0;  /* Add some padding to the navbar */
}

/* Optional - Add a subtle transition effect to navbar background on scroll */
.navbar-dark {
  transition: background-color 0.3s ease;
}

.navbar-dark.scrolled {
  background-color: #212121; /* Example darker shade when scrolled */
}

/* Make sure the page content doesn't overlap the navbar */
body {
  padding-top: 70px; /* Adjust this based on navbar height */
}
